/***************************************** Inicio de los estilos ***************************************************/
body.light-theme{
    --background-color: #efefefd0;
    --a-link: #756d43;
    --a-link-hover: #000000;
    --color-h2: #756d43;
    --color: #000;
    --background-color-pie_pagina: #756d43;
    --color-pie_pagina: #fff;
}
body.dark-theme{
    --background-color: #000000;
    --a-link: #debd16;
    --a-link-hover: #f6ff00;
    --color-h2: #debd16;;
    --color: #fff;
    --background-color-pie_pagina: #0e0b0b;
    --color-pie_pagina: #fff;
}

/********************************************************************************************************************
*************************************************** Estilos Body ***************************************************
********************************************************************************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--color);
}

a{
    text-decoration: none;
    color: var(--a-link);
    cursor: pointer;
    transition: all .3s ease;
}

p{
    text-align: justify;
}

a:hover{
    color: var(--a-link-hover);
}

header{
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 100;
    transition: box-shadow 0.3s ease;
    background-color: rgba(255, 254, 254, 0.154); /* Color inicial con transparencia */
}

header.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /*background-color: rgba(248, 240, 220, 1); /* Color final sin transparencia */
}

nav{
    display: flex;
    gap: 180px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #333; /* Línea continua debajo del navbar */
}

.links-navbar{
   display: flex;
   gap: 20px; 
   font-size: 24px;
   font-weight: 400;
}

.botonin{
    border-bottom: 1px solid var(--a-link);
}

.btn-cambiar-tema{
    background-color: transparent;
    border: none;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    max-width: 70%;
    margin: 0 auto;
}

section::before{
    content: "";
    display: block;
    height: 100px;
    margin-top: 0;
    visibility: hidden;
}

.titulo{
    color: var(--color-h2);
    text-align: center;
    font-size: 36px;
    letter-spacing: 3px;
}

.t1{
    color: var(--color-h2);
    font-size: 26px;
}

/******************************************************************************************************************************
**************************************************** PRESENTACION - INICIO ****************************************************
******************************************************************************************************************************/

.presentacion{
    float: left;
    text-align: center;
    padding: 20px;
    width: 90%;
    height: 400px;
}

.presentacion-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
}

.img-circular{
    width: 400px;
    height: auto;
    border-radius: 60%;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 7px 20px 2px #756d43;
    margin-bottom: 40px;
}

.iconos{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.icono{
    width: 60px;
    height: auto;
    margin-top: 20px;
    transition: all .3S ease;
    /*background-color: #fff; -- Preferiblemente usar flim: #fff en el SVG para darle color blano al icono*/
    filter: drop-shadow(0px 0px 5px #000);
}

.icono:hover{
    transform: translateY(-5PX) scale(1.05);
    filter: drop-shadow(0px 0px 5px #756d43);
}

.contenedorNoticia{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    text-align: justify;
    
}

.imgOficina{
    display: flex;
    margin: 0;
}

.img1{
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 2px 7px 80px 2px #756d43;
}
.img2{
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 2px 7px 80px 2px #756d43;
}
.img3{
    border-radius: 10px;
    box-shadow: 2px 7px 80px 2px #756d43;
}

.section {
    text-align: justify;
}

.section ul {
    list-style-type:circle; 
    padding-left: 20px; /* Espaciado a la izquierda */
    padding-left: 50px;
}

.section ul li {
    margin-bottom: 10px; /* Espaciado inferior */

}

/****************************************************************************************************************************
**************************************************** PROYECTOS - GALERIA ****************************************************
****************************************************************************************************************************/

.grid-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0 auto;
    gap: 40px;
    color: #fff;
}

@media (max-width:1024px){
    .grid-2{
        grid-template-columns: 1fr;
        width: 100%;
    }
}

.proyectos-container{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 1px 7px 10px 2px #000;
    background-image: url(/assets/proyectos/proyecto-e1551127430285-800x412.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all .3s ease;
    margin-bottom: 40px;
}

.proyectos-container:hover{
    transform: scale(1.05);
    box-shadow: 1px 7px 10px 2px #756d43;

}

.descripcion {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(to top, #000, transparent);
    width: 100%;
    height: 70%;
}

.descripcion p{
    font-weight: 300;
}

.descripcion small{
    font-weight: initial;
    color: #ad9d50;
}

/*********************************************************************************************************************
**************************************************** PRESUPUESTO *****************************************************
**********************************************************************************************************************/

.formulario-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 40px;
}

.section-from{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
}

.titulo{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
}

.titulo3{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 180px;
    margin-bottom: 0px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.checkbox-contenedor {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-contenedor input[type="checkbox"] {
    margin-right: 10px;
}

.input-contenedor{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-contenedor input{
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    color: #fff;
}

.input-contenedor textarea{
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    color: #fff;
    resize: none;
}

.extras{
   margin-top: 6px;
   margin-right: 10px;
   display: flex;
   float: left;
}

.lis{
    margin-bottom: 20px;
}

.lis1{
    margin-top: 20px;
    margin-bottom: 10px;
}

.button-contenedor{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-contenedor button{
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
    background-color: #756d43;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.button-contenedor button:hover{
    background-color: rgb(121, 203, 81);;
    transform: translateY(-5px);
}

.error-message {
    color: #a3985d; 
    font-weight: bold;
    font-size: 19px;
}

.valido{
    border-color: green;
}

.invalido{
    border-color: red;
}

.error{
    color: red;
}


/*****************************************************************************************************************
**************************************************** CONTACTO ****************************************************
*****************************************************************************************************************/

#map{
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
    color: #000;
    border-radius: 10px;
    box-shadow: 2px 7px 80px 2px  #756d43;
}

/***********************************************************************************************************************
***************************************************** ICONO ARRIBA *****************************************************
***********************************************************************************************************************/

.icono-top{
    position: fixed;
    bottom: 100px;
    right: 50px;
    height: 60px;
    width: auto;
    transition: all .3s ease;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #000);
}

.icono-top:hover{
    transform: translateY(-5px);
    filter: drop-shadow(0px 0px 5px #756d43);
}

/***********************************************************************************************************************
*************************************************** Pie de página ******************************************************
***********************************************************************************************************************/

.pie_pagina{
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #c1bc9e; /* Línea continua arriba del footer */
    background-color: var(--background-color-pie_pagina);
    color: var(--color-pie_pagina);
    text-align: center;
}

.pie_pagina .grupo_1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie_pagina .grupo_1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie_pagina .grupo_1 .box figure img{
    width: 100px;
}

.pie_pagina .grupo_1 .box h2{
    margin-bottom: 25px;
    font-size: 20px;
}

.pie_pagina .grupo_1 .box p{
    margin-bottom: 10px;
}

.pie_pagina .grupo_1 .red_social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: var(--background-color-pie_pagina);
    text-align: center;
    transition: all 300ms ease;
}

.pie_pagina .grupo_1 .red_social a:hover{
    color: #f6ff00;
}

.pie_pagina .grupo_2{
    background-color: var(--background-color-pie_pagina); 
    padding: 15px 10px;
    text-align: center;
    color: var(--color-pie_pagina); 
    border-top: 1px solid #c1bc9e; /* Línea continua arriba del footer grupo2 */
    font-size: 15px;
    font-weight: 300;
}

.pie_pagina .grupo_2 small{
    font-size: 15px; 
}